# enable debug logging
YUBIKEY_TOUCH_DETECTOR_VERBOSE=false

# show desktop notifications
YUBIKEY_TOUCH_DETECTOR_NOTIFY=true

# customize desktop notifications
# YUBIKEY_TOUCH_DETECTOR_NOTIFY_TITLE="Security key required"
# YUBIKEY_TOUCH_DETECTOR_NOTIFY_BODY="Touch your YubiKey to continue."

# do not print notifications to stdout
YUBIKEY_TOUCH_DETECTOR_STDOUT=false

# disable Un*x socket notifier
YUBIKEY_TOUCH_DETECTOR_NOSOCKET=false
